* {
    margin: 0;
    padding: 0;
}


body {
    background-color:lightgray;
    text-align: center;
}

h2 {
    margin: 2rem 0;
    font-size: 2rem;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 15vmin;
    width: 15vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem black;
    font-size: 8vmin;
    color: #b0413e;
    background: white;
}

#resetBtn {
    padding: 1rem;  
    font-size: 1.25rem;
    background-color: #191913;
    color: #f8f9fa;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #f8f9fa;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #6272fc;
    font-size: 5vmin;
}

.msg-container{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.hide {
    display: none;
}

button {
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}